$bgc-sidebar: #231b2e;
$bgc-main: #170f23;
$bgc-footer: #170f23;

$text-color-white: #fff;
$text-color-gray: hsla(0, 0%, 100%, 0.5);
$text-color-violet-light: #c662ef;
$text-color-violet: #7200a1;

// background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 37%, #170f23);

// background-image: linear-gradient(180deg,#170f23,#170f23);
// filter: grayscale(1);
