@import '../../assets/scss/variable';
@import '../../assets/scss/main-header';

.modal-header {
  background-color: #42256d;
  color: $text-color-white;
}

.btn-login {
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 0;
  background-color: #42256d;
  color: $text-color-white;
}

.btn-login:hover {
  opacity: 0.9;
}
