<div class="main__header">
  <div class="main__header--search">
    <div class="main__header-search-body">
      <form class="d-flex">
        <input type="search" class="form-control main__header--search-input"
          placeholder="Nhập tên bài hát, nghệ sĩ, MV ...." [(ngModel)]="listSong.songName" [(ngModel)]="albumName"
          [ngModelOptions]="{standalone: true}">
        <button style="display: none;" class="btn btn-outline-success" type="submit"
          (click)='fSearch(listSong.songName)' (click)='fSearchAlbum(albumName)'>Search</button>
      </form>
      <div class="main-icon-search">
        <i class="bi bi-search"></i>
      </div>
    </div>
  </div>
  <div class="main__header--setting">
    <div class="main__header--setting-body">
      <a href="" class="main__header-icon">
        <i class="bi bi-upload main-icons"></i>
      </a>
      <a href="" class="main__header-icon">
        <i class="bi bi-gear main-icons"></i>
      </a>
      <a href="" class="main__header-icon" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-person-circle main-icons"></i>
      </a>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Login</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="" class="mb-2">User Name</label>
          <input type="text" class="form-control mb-3">
        </div>
        <div class="form-group">
          <label for="" class="mb-2">Password</label>
          <input type="password" class="form-control">
        </div>
        <div class="form-group">
          <button type="button" class="mt-3 btn-login">Login</button>
        </div>
        <div class="form-group mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <span>Hoặc</span>
          <div class="g-signin2 mt-2" data-onsuccess="onSignIn" data-longtitle="true"></div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger">Login</button>
      </div> -->
    </div>
  </div>
</div>